@font-face {
  font-family: 'FreightBook';
  src: url(styles/fonts/freight-big-book.otf);
}

@font-face {
  font-family: 'FreightBold';
  src: url(styles/fonts/freight-big-bold.otf);
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url(styles/fonts/avenir-next-regular.ttf);
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url(styles/fonts/avenir-next-bold.ttf);
}

* {
  box-sizing: border-box;
}